<%- include("../layout/header", {title: title}) %>
<div class="container mx-auto" style="width: 23%">
  <h1 class="text-warning text-center mb-5"><%= title %></h1>

  <%- include("../messages") %>

  <form action="/register" method="post">
    <div class="mb-3">
      <label for="emailInput" class="form-label fs-5" style="color: #ff6f3c"
        >Email:</label
      >
      <input
        style="background: rgba(255, 255, 255, 0.5)"
        type="email"
        class="form-control"
        name="email"
        id="emailInput"
        value="<%= old ? old.email : '' %>"
        placeholder="jonaitis@gmail.com"
        required
      />
    </div>
    <div class="mb-3">
      <label for="passwordInput" class="form-label fs-5" style="color: #ff6f3c"
        >Password:</label
      >
      <input
        style="background: rgba(255, 255, 255, 0.5)"
        type="password"
        class="form-control"
        name="password"
        id="passwordInput"
        value=""
        placeholder="******"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password2Input" class="form-label fs-5" style="color: #ff6f3c"
        >Repeat password:</label
      >
      <input
        style="background: rgba(255, 255, 255, 0.5)"
        type="password"
        class="form-control"
        name="password_confirm"
        id="password2Input"
        value=""
        placeholder="******"
        required
      />
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-outline-warning fs-5">
        <i class="bi bi-check-circle"></i> Register
      </button>
    </div>
  </form>
</div>
<%- include("../layout/footer") %>
